*{
box-sizing: border-box;
margin:0;
padding: 0;
outline: none;
border: none;
font-family: 'Josefin Sans';
user-select: none;
}

html, body{
width: 100%;
height: 100%;
background: #dadadac7;
}


html{
font-size:62.5%;
scroll-behavior: smooth;
overflow-x: hidden;
}

.Header{
display: flex;
align-items: center;
justify-content: center;
position: relative;
background: #fcfcfc;
height: 10vh;
width: 100%;
z-index:20;

}

.Header img{
width: 3%;
clip-path: circle(50%);
background-color: #bdbbbb;
}

.Container{
width: 100%;
height: 100%;
padding-top: 2rem;

}

.Container_Section0{
width: 100%;
position: relative;
left: 50%;
height: 100%;

}

.Container_Section0::after{
content: "";
background: #1d1d1d;
width: 50%;
height: 99.6%;
position: absolute;
left: -50%;

}

.Container_Section0 img{
width: 62%;
}

.Container_Section0  .Text{
position: absolute;
z-index: 2;
color: #bdbbbb;
top: 35%;
left: -11.5%;
}

.Container_Section0  .Text h1{
width: 40%;
color: #ffffff;
font-size: 5rem;
text-transform: uppercase;

}

.Container_Section0  .Text button{
width: 50%;
margin-top: 2rem;
background: #fe9900;
color: #ffffff;
height: 10%;
padding:0.5rem 1rem;
cursor: pointer;
font-size: 1.5rem;
border-radius:2px ;
transition: .5s all;


}

.Container_Section0  .Text button:hover{
color: black;
filter: blur(1px);
}
.Container1{
    width:100%;
    height: 100%;
    
}
.Container_Section1{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;

flex-direction: column;
}

.Container_Section1 .Cards{
display: flex;
align-items: center;
justify-content: space-around;
}

.Container_Section1 .Card{
width: 20%;
height: 99%;
border-radius: 24px;
box-shadow: 4px 4px 4px 4px rgb(39, 34, 34);
}

.Container_Section1 h1{
padding: 6rem 0;

}

.Container_Section1 h1 span{
color: #ffffff;
font-size: 3rem;
background: #fe9900;
padding: 1rem 3rem;
clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.Container_Section1 .Card img{
width: 100%;
border-radius: 19px;
}

.Container_Section1 .Cards .Card .Content{
    display: none;
  
}

.Container_Section1 .Cards .Card:hover .Content{
width: 20%;
height: 69.4%;
display: flex;
align-items: center;
flex-direction: column;
background: #00000080;
z-index: 100;
position: absolute;
top:130.5%;
border-radius: 19px;
animation:fadeUp .6s linear;
opacity: 1;


}

.Container_Section1 .Cards .Card .Content h1{
margin-top: 6rem;
color:white;
font-size: 3rem;
text-transform: uppercase;
}

.Container_Section1 .Cards .Card .Content .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Container_Section1 .Cards .Card .Content .Icon img {
    width: 16%;
    padding: 0.5rem;
}

.Container_Section1 .Cards .Card .Content p{
color: #5a3907;
font-size: 2rem;
margin-top: 5rem;
padding: 0.5rem 3rem;
background: #fcb140;
clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.Container_Section1 .Cards .Card .Content p span{    
color:rgb(247, 0, 0);
font-size: 2rem;
}

.Container_Section1 .Cards .Card .Content button{
width: 100%;
background: #000000;
color: #ffffff;
height: 10%;
cursor: pointer;
padding: 0.5rem;
font-size: 1.5rem;
border-radius:19px ;
margin-top: 10rem;
transition: .5s all;

}

.Container_Section1 .Cards .Card .Content button:hover{
    color: #5a3907;
    filter: blur(0.5px);
}

.Container_Section2{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
}

.Container_Section2 .Percent{

}

.Container_Section2 .Percent h2{
font-size: 4rem;
padding-bottom:1rem ;
}

.Container_Section2 .Percent p{
width: 70%;
text-align: center;
font-size: 1.5rem;
padding-bottom:1rem ;
margin-left:18% ;
}

.Container_Section2 .Percent button{
width: 60%;
background: #000000;
color: #ffffff;
cursor: pointer;
padding: 1rem;
font-size: 2rem;
margin-top: 2rem;
transition: .5s all;
}

.Container_Section2 .Percent button:hover{
color: #5a3907;
filter: blur(0.5px);
}

@keyframes fadeUp{
    0%{
        transform:translateX(-5rem);
        opacity:0;
    }
}